<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings configSource="appsettings.config" />
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="appiumTestCaseListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AppiumTestCaseExecution.log" />
				<add name="webTestCaseListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="WebTestCaseExecution.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>